$rem-baseline: 16px;

$text-font-stack: 'Open Sans', sans-serif;

$default-placeholder-color: rgba(86, 87, 92, .5) !default;
$text-color-default:        #333;

$button-color:              #d8c9b7;
$button-color-hover:        #d8c9b7;
$button-text-color:         #fff;
$button-text-color-hover:   #fff;


$color-primary: #2a323f !default;
$color-2:       #d8c9b7 !default;