/**
 * Блок "Перший екран при загрузці сайту"
 */
.page-start {
		
	.page-content {
		padding: 16.8% 13.5% 0 rem(260px);
	}
}





/**
 * Блок "Про нас"
 */
.page-about {


	.page-wrapper {
		position: relative;
	}
	.page-about-img {
		position: relative;
		z-index: 2;

		&-1,
		&-2 {

			&--holder {
				position: absolute;
				top: rem(82px);
				box-shadow: rem(0 0 20px 0) rgba(0, 0, 0, .3);
				overflow: hidden;
				z-index: 2;
			}
		}
		&-1 {

			&--holder {
				left: 20%;
				height: 80%;
				max-height: rem(600px);
				left: 18.5%;
				height: 64%;
				top: 9%;
				width: 27.8%;
			}
		}
		&-2 {
			
			&--holder {
				right: 9%;
			    height: 42.5%;
			    width: 47%;
			    top: 13%;
			}
		}
	}
	.page-content {
		// background-color: #fff;
		max-width: 41%;
	    position: absolute;
	    bottom: 12%;
	    right: 9%;
	    text-align: left;
	    z-index: 1;
	}

	& &__sub-title {
		font-size: rem(24px);
		padding-bottom: rem(18px);
		z-index: 2;
		position: relative;
	}
	
	& &__title {
		position: relative;
		padding-bottom: rem(20px);

		&::before {
			content: '';
			position: absolute;
			border: rem(1px) solid #2a323f;
			bottom: rem(21px);
			left: -68%;
			width: 150%;
			height: 513%;
		}
	
		span {
			border-bottom: rem(3px) solid $color-2;
			border-bottom-width: rem(3px);
			display: inline-block;
			padding-bottom: rem(22px);
			position: relative;
			z-index: 2;		
		}
	}
	& &__text {
		font-size: rem(14px);
	}
}






/**
 * Блок "Послуги"
 */
.page-services {
	background-color: $color-primary;

	.page-content {


		.button {
			position: absolute;
			bottom: rem(100px);
			right: rem(100px);
		}
	}

	& &__title-holder {
		z-index: 2;
		position: absolute;
		top: 8%;
		left: 23%;

		.sub-title {
			font-size: rem(24px);
			letter-spacing: rem(2px);
			margin-bottom: rem(20px);
		}
		.title {
			color: #fff;
			letter-spacing: rem(4px);
		}
	}

	& &-list {
		padding: rem(165px 0 0 100px);
		margin: 0 2% 0 auto;
		display: table;

		&__item {
			border: rem(1px) solid $color-2;
			padding: rem(30px 50px);
			box-sizing: border-box;
			display: table-cell;
			width: rem(495px);
			position: relative;

			&.add-line-detail {

				&::after,
				&::before {
					content: '';
					position: absolute;
					width: 0;
				}
				&::before {
					left: rem(-1px);
					top: 50%;
					height: 70%;
					transform: translateY(-50%);
					border-left: rem(3px) solid #ffffff;
					border-left-width: rem(3px);
				}
				&::after {
					border-left: rem(1px) solid $color-2;
					border-left-width: rem(1px);
					height: 50%;
					top: 0;
					left: 0;
				}

				&--right {
					
					&::before {
						left: initial;
						right: rem(-1px);
					}
				}
			}

			&-title {
				font-size: rem(24px);
				color: #fff;
				margin-bottom: rem(28px);
				text-align: center;
			}
			&-ul {
				color: $color-2;
				list-style: none;
				padding: 0;
				margin: 0 auto;
				max-width: rem(280px);

				li {
					background-image: url(../../img/icons/check.png);
					background-repeat: no-repeat;
					background-position: left center;
					padding: rem(20px 0 20px 55px);
				}
			}

			&.item-1 {
				top: rem(200px);
				border-right: none !important;
				right: rem(-1px);
				
				&.add-line-detail::after {
					top: initial !important;
					left: initial !important;
					right: 0 !important;
					bottom: 0 !important;
				}
			}
			&.item-2 {
				top: rem(100px);
			}
			&.item-3 {
				border-left: none !important;
				left: rem(-1px);

				&::after {
					top: 0;
					left: 0;
					right: initial;
					bottom: initial;	
				}
			}

		}
	}
}





/**
 * Блок "Планування"
 */
.page-planning {
	position: relative;
	overflow: hidden;
	padding: rem(94px 150px 0 270px);
	overflow: hidden;

	& &__base-text {
		background-color: $color-primary;
		margin: 12.3% 0 0;
		margin: 19% 0 0;
		position: relative;
		padding-left: rem(110px);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: rem(-9000px);
			height: 100%;
			width: rem(10000px);
			background-color: $color-primary;
		}

		&-holder {
			padding: rem(91px 0);
			max-width: rem(625px);
			margin: rem( 0 0) auto;
			z-index: 5;
			position: relative;
		}

		.title {
			color: $color-2;
			padding-bottom: rem(35px);
		}
		.text {
			color: #ffffff;
			line-height: 1.6;
		}
	}

	& &__form {
		// position: absolute;
		// left: rem(270px);
		// top: rem(-142px);
		border: rem(70px) solid #eae7e3;
		margin: rem(0 -55px 0 0);
		z-index: 5;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: rem(-110px);
			transform: translateX(-50%);
			background-image: url(../../img/img-parts/0.png);
			background-repeat: no-repeat;
			width: rem(190px);
			height: rem(156px);
		}

		&-wrapper {
			background-color: #fff;
			padding: rem(65px);
			width: 100%;
			max-width: rem(650px);
			margin: 0 auto;
		}

		.form-control {
			width: 100%;
		}

		&-text {
			text-align: center;

			.title {
				font-size: rem(36px);
				position: relative;
				padding-bottom: rem(35px);
				margin-bottom: rem(35px);

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 30%;
					width: 40%;
					border-bottom: rem(1px) solid #2a323f;
					border-bottom-width: rem(1px);
				}
			}
			.text {
				line-height: 1.7;
				padding: rem(0 30px 10px);
			}
		}
	}

	& &-detail {

		&.page-detail {

		}

		&-1 {
			top: rem(-240px);
			right: rem(-160px);
			z-index: 1;
		}
		&-2 {
			top: 1.2%;
			left: 0;
			z-index: 6;
		}
		&-3 {
			bottom: 5%;
			left: 7%;
			z-index: 6;
		}
		&-4 {
			bottom: -31%;
			left: 42.5%;
			z-index: 6;
		}
		&-5 {
			bottom: -3%;
			right: -1%;
			z-index: 4;
		}
	}

}





/**
 * Блок "Етапи роботи"
 */
.page-stages {
	
	
	.sub-title {
		margin-bottom: rem(15px);
		letter-spacing: rem(3px);
		font-size: rem(24px);
	}
	.title {
	    
	}

	.page-content {
		margin: 11% 15.8% rem(40px);
		
		&-title-holder {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0;
			z-index: 2;
		}
	}

	.paging-info {
		font-size: rem(24px);
		color: $color-2;
		padding: rem(75px 0 20px);
		letter-spacing: rem(1px);
		padding: 48% 0 rem(20px);

		.total-slide-num {
			padding-left: rem(3px);
		}
	}

	.page-content-title {
		font-size: rem(24px);
		font-weight: 700;
		margin-bottom: rem(25px);
	}

	.page-content-text {

		p {
			margin-bottom: rem(25px);
		}
	}
	.page-stages-img {
		position: absolute;
		top: -10%;
		right: -164%;

		&::before,
		&::after {
			content: '';
			position: absolute;
			z-index: 5;
			transition: all 0.4s ease-in-out;
		}
		&::before {
			top: 0;
			left: 0;
			border: rem(2px) solid $color-2;
			border-width: rem(2px);
			width: 100%;
			height: 100%;
		}
		&::after {
			bottom: rem(60px);
			right: rem(-1px);
			width: 0;
			display: block;
			height: rem(330px);
			border-right: rem(4px) solid #2a323f;
			border-width: rem(4px);
		}

		&-num {
			position: absolute;
			top: -14%;
			left: 0;
			z-index: 1;
			font-size: rem(390px);
			font-weight: 800;
			color: $color-2;
			z-index: 1;
			transition: all 0.4s ease-in-out;
		}

		&--holder {
			z-index: 4;
			width: rem(650px);
			height: rem(620px);
			overflow: hidden;
			position: relative;
		}
	}

	.page-content-item {
		max-width: rem(500px);
		position: relative;

		& > .button {
			min-width: rem(200px);
		}

	}
	
	.slick-slider {

		.slick-list {
			overflow: visible !important;
		}

		.slick-arrow {
			display: none !important;
		}

		.slick-slide.slick-active {

			.page-stages-img {

				&::before {
					top: rem(70px);
					left: rem(70px);
				}
				&::after {
					bottom: rem(-10px);
					right: rem(-71px);
				}

				&-num {
					left: -22%;
				}
			}
		}
	}

}







/**
 * Блок "Проекти"
 */
.page-projects {
	background-color: $color-primary;
	padding: 0;	

	.grid-gallery {
		margin: rem(15px 0 15px 15px);
		padding: rem(0 100px 0 0);

		.item-col {
			flex: 0 0 auto;
			min-width: rem(730px);
			margin: rem(15px);
		}

		.item {
			position: relative;
			display: block;
			overflow: hidden;

			&.item-1 {
				width: 100%;
			    height: rem(515px);
			    display: block;
			}

			&.item-2,
			&.item-3 {
				width: rem(348px);
				height: rem(320px);
				margin: rem(30px 15px 15px 15px);
				display: inline-block;
			}
			&.item-2 {
				margin-left: 0;
			}
			&.item-3 {
				margin-right: 0;
			}


		}

		.item-col:nth-child(even) {

			.item {

				&.item-1,
				&.item-2 {
					width: rem(348px);
					height: rem(320px);
					margin: rem(0 15px 15px 15px);
					display: inline-block;
				}

				&.item-1 {
					margin-left: 0;
				}

				&.item-2 {
					margin-right: 0;
				}

				&.item-3 {
					width: 100%;
				    height: rem(515px);
				    display: block;
				    margin-left: 0;
				    margin-top: rem(15px);
				}
			}
		}

		&,
		.mCSB_container {
			display: flex;
			flex-wrap: nowrap;
			overflow-y: auto;
		}

		.mCSB_scrollTools {
			
			&.mCSB_scrollTools_horizontal {
				bottom: rem(80px);
				max-width: rem(400px);
				left: 35%;
				background-color: #2a323f;
				padding: rem(14px);
				border-radius: rem(40px);

			}

			.mCSB_draggerContainer {
				margin: rem(6px 12px);
			}

			.mCSB_draggerRail {
				background-color: $color-2;
			}
			
			.mCSB_dragger_bar {
				background-color: rgba(255, 255, 255, .7);
			}

			.mCSB_dragger:hover .mCSB_dragger_bar {
				background-color: rgba(255, 255, 255, 1);
			}
		}
	}
}






/**
 * Блок "Пакети"
 */
.page-price {


	.sub-title {
		padding-bottom: rem(15px);
		letter-spacing: rem(3px);
		font-size: rem(24px);
	}
	.title {
	    letter-spacing: rem(3.5px);
	}

	.page-content {
		padding: rem(1.5% 0 1.5% 16.7%);
		box-sizing: border-box;

		.holder-text {
			padding-top: 45%;
			padding-right: rem(30px);

			.text {
				padding: rem(15px 0 0);
			}
		}
	}

	.price-item {
		background: rgb(233,232,232);
		background: -webkit-linear-gradient(rgba(233,232,232,1) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(rgba(233,232,232,1) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(rgba(233,232,232,1) 0%, rgba(255,255,255,1) 100%);
		padding: rem(80px 30px);
		position: relative;
		margin: rem(160px 0 10px);
		transition: all 0.4s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			left: 47%;
			top: rem(-110px);
			transform: translateX(-50%);
			background-image: url(../../img/img-parts/0.png);
			background-repeat: no-repeat;
			width: rem(190px);
			height: rem(156px);
		}

		&__title {
			font-size: rem(30px);
			text-align: center;
			line-height: 1.2;
			letter-spacing: rem(3px);
		}
		&__num {
			text-align: center;
			color: $color-2;
			padding: rem(0 0 15px);
			margin-bottom: rem(25px);
			border-bottom: rem(1px) solid $color-2;
			border-bottom-width: rem(1px);
			transition: all 0.4s ease-in-out;

			& > span {
				display: inline-block;
				vertical-align: middle;
				padding: rem(0 4px);
			}
	
			.from {
				font-size: rem(24px);
				font-weight: 500;
			}
			.base {
				font-size: rem(60px);
				font-weight: 700;
			}
			.currency {
				font-size: rem(30px);
				font-weight: 700;
			}
		}
		&__ul {
			color: #2a323f;
			list-style: none;
			padding: 0;
			margin: 0 auto;
	
			li {
				background-image: url(../../img/icons/leaf.png);
				background-repeat: no-repeat;
				background-position: rem(0 5px);
				padding: rem(3px 0 3px 25px);
				margin: rem(17px 0);
			}
		}

	}

	.slick-dots {
		margin-top: rem(50px);
	}

	.slick-prev,
	.slick-next {
		z-index: 5;
		width: rem(50px);
		height: rem(50px);
		background-color: #fff;
		padding: rem(5px);
		border-radius: rem(4px);
		opacity: .75;

		&:before {
			color: transparent !important;
			font: 0rem/1 auto!important;
			font-size: rem(30px);
			background-color: transparent;
			padding: 0;
			border-radius: rem(4px);
			background: url('../../img/icons/sprite-arrows.png') no-repeat;
			text-indent: -9999px;
			line-height: 1;
			width: rem(37px);
			height: rem(12px);
			display: block;
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}
	}
	.slick-prev {
		left: 0;
		// display: none !important;

		&:before {
			border-radius: rem(0 4px 4px 0);
			background-position: rem(-68px 1px);
		}
	}
	.slick-next {
		right: rem(6px);
		// right: rem(35px);

		&:before {
			border-radius: rem(4px 0 0 4px);
			background-position: rem(-66px -12px);
		}
	}

	.slick-slider-center.slick-slider::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 5%;
		height: 100%;
		background-color: #fff;
		display: block;
		z-index: 2;
	}

	.slick-slide {

		& > div {
			margin: rem(15px);
		}

		&.slick-active.slick-current {

			.price-item {
				margin-top: rem(90px);
				box-shadow: rem(0 6px 20px 0) rgba(0, 0, 0, 0.35);
				background: rgb(221,207,190);
				background: -webkit-linear-gradient(rgba(221,207,190,1) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(rgba(221,207,190,1) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(rgba(221,207,190,1) 0%, rgba(255,255,255,1) 100%);

				.price-item__num {
					color: #2a323f;
				}
			}
		}
	}
}





/**
 * Блок "Контакти"
 */
.page-contacts {
	background-color: $color-primary;

	.sub-title {
		padding-bottom: rem(15px);
		padding-left: rem(50px);
		letter-spacing: rem(3px);
	}
	.title {
		padding-left: rem(30px);
	    font-size: rem(36px);
	    padding-top: rem(9px);
	    letter-spacing: rem(3.5px);
	}

	.page-detail {


		&-1 {
			left: 1.5%;
			bottom: 0;
			z-index: 1;
		}
		&-2 {
			right: 2.5%;
			bottom: 6%;
			z-index: 1;
		}
		&-3 {
			left: 19%;
    		top: 3%;
			z-index: 0;
		}
		&-4 {
			top: 4.4%;
			left: 56.5%;
			z-index: 0;
		}
	}


	& &-holder {
		padding: 8.5% 9% 7% 61.5%;
		z-index: 5;
		position: relative;
	}

	& &-form {
		max-width: rem(415px);
		margin-top: 11%;
	}


	.contacts-action {
		position: absolute;
		top: 29%;
		left: 30%;
		border-radius: 50%;
		text-align: center;
		height: rem(400px);
		width: rem(400px);
		background-color: #fff;
		padding: rem(75px 65px);
		box-sizing: border-box;
		z-index: 9;

		&-num {
			color: $color-2;
			font-size: rem(120px);
			font-weight: 800;
			line-height: 1.3;

			.num-persent {
				font-size: rem(36px);
			}
		}
		&-text {
			font-size: rem(14px);
			margin-bottom: 0;
			line-height: 1.7;
		}

		.page-detail {

			&-action-0 {
				top: 13%;
				left: 27.5%;
			}
			&-action-1 {
				left: rem(120px);
				top: rem(15px);
			}
			&-action-2 {
				right: rem(60px);
				bottom: rem(-30px);
			}
		}
	}
}